

table {
    width:750px;
    height:500px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 100px auto;
    page-break-after: always;
}


td{
    border: 1px solid #000;
    text-align: center;
    width:150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

thead td
{
    border: 0px;
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

td.freespace
{
    font-style: oblique;
    text-transform: uppercase;
}