

table {
    width:750px;
    height:500px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 100px auto;
    page-break-after: always;
}


td{
    border: 1px solid #000;
    text-align: center;
    width:150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

thead td
{
    border: 0px;
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

td.freespace
{
    font-style: oblique;
    text-transform: uppercase;
}

div#DescriptionHolder
{
    width: 600px;
    margin: 10px auto;
}

dl{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8em; 
}

dt{
    font-weight: bold;
}

div#ToggleHolder
{
    text-align: center;
}

button
{
    background-color: #4CAF50; /* Green */
    border:2px solid #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white; /* Green */
    color: #4CAF50;
    border:2px solid #4CAF50; 
  }

@media print{
    .noprint {
        visibility: hidden;
    }
}